body {
	margin: 0;
	padding: 0;

}

section {
	height: 100vh;
	width: 100%;
	
}

.section1 {
	background: linear-gradient(180deg,#000000,#152331);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section2 {
	background: linear-gradient(0deg,#000000,#152331);
}

.section3 {
	background: linear-gradient(180deg,#000000,#152331);
}

.logo {
	padding: 1rem;
}

nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li {
	color: #fff;
	list-style-type: none;
	padding: 1rem;
	text-transform: uppercase;
}

.name {
	margin: 0;
	padding: 0;
	position: fixed;
  	top: 20%;
  	left: 50%;
  	font-size: 25em;
  	font-family: 'Montserrat';
  	color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  	/*text-shadow: -1px 1px 0 #fff,
				  1px 1px 0 #fff,
				 1px -1px 0 #fff;
				-1px -1px 0 #fff;*/
}

.last {
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0%;
	right: 0%;
	font-size: 25em;
	font-family: 'Montserrat';
  	color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.bio {
	width: 60%;
	padding: 2rem;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 5px;
}

.bio h1 {
	color: #000;
	margin: 0;
}

.bio p {
	color: #000;
}

.skillsList {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.skill-icon {
	padding: 1rem;
	text-align: center;
	color: #fff;
}

.projectsContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.projectSection {
  height: 25vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.projectSection img {
  object-fit: cover;
  height: 100%;
  width: calc(100% + 1px);
  vertical-align: middle;
}

@media screen and (min-width:600px) {
  .projectsContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .projectSection {
    height: 50vh;
  }
}

