html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html h1, html h2, html h3, html h4, html h5, html h6, html a {
	font-family: 'Montserrat',  sans-serif;
}

html p {
  font-family: 'Bitter', serif;
}

a {
  text-decoration: none;
  color: inherit;      
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@media all and (min-width: 738px) {
  .wrapper {
    width: 70%;
    margin: 1rem auto;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    width: 50%;
    margin: 1rem auto;
  }
}

nav {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(18,19,21, 0.9);
  position: fixed;
  top: 0;
  z-index: 103;
  padding: 1rem 0;
  backdrop-filter: saturate(0.5) blur(10px);
  -webkit-backdrop-filter: saturate(0.5) blur(10px);
}

svg {
  padding: 0 0 0 1rem;
}

svg:hover {
  cursor: pointer; 
}

#desktopMenu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  margin: 0;
}

#desktopMenu li {
  padding: 0.5rem;
}

#desktopMenu li a {
  color: #fff;
  transition: 0.3s;
}

#desktopMenu li a:hover {
  color: #ccc;
}

#mobileMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #121315;
  opacity: 0;
  list-style-type: none;
}

#mobileMenu li {
  padding: 1rem;
  margin: 1rem 0;
}

#mobileMenu li a {
  color: #fff;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

#mobileMenu li a:hover {
  color: #ccc;
}

#openMenu, #closeMenu {
  padding-right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer; 
}

#openMenu {
  display: block;
}

#closeMenu {
  display: none;
  z-index: 104;
}

#openMenu:hover, #closeMenu:hover {
  color: #ccc;
  transition: 0.3s;
}

#desktopMenu {
  display: none;
}

@media all and (min-width: 576px) {
  #openMenu, #closeMenu {
    display: none !important;
  }

  #desktopMenu {
    display: flex;
  }

  #mobileMenu {
    display: none;
  }
}

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /*background:#152331;*/
  background-image: linear-gradient(to bottom, #152331, #191c29, #191720, #161117, #100a0e, #100a0e, #100a0e, #100a0e, #161117, #191720, #191c29, #152331, #121315), url('../assets/altumcode-oZ61KFUQsus-unsplash.webp'), url('../assets/altumcode-oZ61KFUQsus-unsplash.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: hue;     
}

.banner {
  text-align: right;
  background-color: #FFFFF3;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.banner h2, .social-media {
  color: #000;
  transition-duration: 0.3s;
}

.social-media a {
  cursor: pointer;
}

.social-media a i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.social-media a i:hover {
  color: #262E45;
}

.scrollArrow {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFF3;
  z-index: 102;
  text-align: center;
}

.scrollArrow i {
  font-size: 1.2rem;
}

.about {
  padding: 2rem 1rem;
	height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg,#000,#121315, #000);
}

.about h2 {
	color: #FFFFF3;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-style: italic;
	text-align: left;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.bio {
  width: 90%;
	padding: 1rem;
  background-color: #FFFFF3;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

@media all and (min-width: 768px)  {
  .bio {
    width: 80%;
    margin: 1rem auto;
  }
}

@media all and (min-width: 1200px)  {
  .bio {
    width: 70%;
    margin: 1rem auto;
  }
}

.skills {
  padding: 2rem 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#152331;
  background-image: url('../assets/pankaj-patel-u2Ru4QBXA5Q-unsplash.webp'), url('../assets/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: darken  ;   
}

.skills h2 {
  color: #FFFFF3;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-style: italic;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.skill-list {
  width: 90%;
  background-color: #FFFFF3;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  border-radius: 5px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  text-align: center;
}

.skill-list i {
	font-size: 2rem;
}

.skill-title {
  font-size: initial;
}

@media all and (min-width: 768px)  {
  .skill-list  {
    width: 80%;
    margin: 1rem auto;
  }
}

@media all and (min-width: 1200px)  {
  .skill-list {
    width: 70%;
    margin: 1rem auto;
  }

  .skill-list {
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  }
}

.projects {
  padding: 2rem 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:linear-gradient(0deg,#000000,#152331, #121315, #000);
}

.projects h2 {
  color: #FFFFF3;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-style: italic;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.gridContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.project {
  width: 90%;
  position: relative;
  margin: 1rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.project img {
  width: 100%;
  display: block;
  margin: 0 auto 0.5rem;
  vertical-align: middle;
}

.project h3, .project h4, .project p {
  margin: 0 0 0.5rem;
}

.linkContainer {
  display: flex;
  justify-content: space-around;
}

@media all and (min-width: 576px) {
  .project {
    width: 90%;
  }
}

@media all and (min-width: 768px) {
  .project {
    width: 80%;
  }
}

@media all and (min-width: 1200px) {
  .gridContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project {
    width: 90%;
  }
}

.project_button {
  background-color: #262E45;
  border: 1px solid #262E45;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 0.5rem 1rem;
  transition-duration: 0.3s;
}

.project_button:hover {
  background-color: #244091;
  border: 1px solid #244091;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.project_button a {
  color: #FFF;
}

.contact {
  padding: 2rem 1rem;
  background:#000;
}

.contact h2 {
  color: #FFFFF3;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-style: italic;
  text-align: left;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.contact i, .contact p, .contact a {
  text-align: center;
  color: #FFF;
  margin-bottom: 1rem;
}

address {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.formContainer {
  width: 100%;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.125rem 0;
  resize: vertical;
  background-color: transparent;
  color: #ccc;
}

label {
  color: #ccc;
}

@media all and (min-width: 768px) {
	.formContainer {
    width: 70%;
    margin: 1rem auto;
  }
}

.contact_button {
  background-color: #262E45;
  border: 1px solid #262E45;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 0.5rem 1rem;
  transition-duration: 0.3s;
}

.contact_button:hover {
  background-color: #244091;
  border: 1px solid #244091;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

footer {
  height: auto;
	text-align: center;
  background-color: #121315;
}

footer p {
  color: #fff;
  margin: 0;
  padding: 1rem 0;
}


