:root {
  --animate-delay: 0.5s !important;
}

html{scroll-behavior:smooth;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html h1, html h2, html h3, html h4, html h5, html h6, html a {
	font-family: 'Raleway',  sans-serif;
}

html p {
  	font-family: 'Roboto Slab', serif;
}

a {
  	text-decoration: none;
  	color: black;
}

a:active, a:visited {
  	color: black;
}

.header {
  	height: 100vh;
    width: 100%;
    will-change: transform;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: flex-end;
  	background:linear-gradient(45deg, 
    	rgb(17, 29, 65) 0%, rgb(17, 29, 65) 63%,
    	rgb(33, 58, 130) 63%, rgb(33, 58, 130) 75%,
    	rgb(49, 86, 196) 75%, rgb(49, 86, 196) 81%,
    	rgb(108, 136, 218) 81%, rgb(108, 136, 218) 85%,
    	rgb(173, 189, 235) 85%, rgb(173, 189, 235) 90%,
    	rgb(239, 242, 251) 90%, rgb(239, 242, 251) 100%);       
}

.banner {
  	text-align: right;
  	background-color: #FFFFF3;
  	padding: 1rem;
  	margin: 1rem;
  	border-radius: 5px;
  	box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.banner h2, .social-media {
  	color: #000;
  	transition-duration: 0.3s;
}

.social-media a {
  	cursor: pointer;
}

.social-media a i:hover {
  	color: #262E45;
}

.enter {
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vmin;
  margin: 4px 2px;
  padding: 0.5rem 1rem;
  transition-duration: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

.revealer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: center;
  position: relative;
  top: 0;
}

.revealer--second {
  pointer-events: none;
}

.revealer--first {
  position: fixed;
}

.revealer--move {
  will-change: transform;
  overflow: hidden;
  background: #000;
}

.revealer--reverse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.overlay__inner {
  width: 200%;
  height: 200%;
  position: relative;
  flex: none;
  background: #ccc;
  will-change: transform;
}

.overlay__inner--color-1 {
  background: linear-gradient(45deg, rgb(239, 242, 251) 90%, rgb(239, 242, 251) 100%);
}

.overlay__inner--color-2 {
  background: linear-gradient(45deg, rgb(173, 189, 235) 85%, rgb(173, 189, 235) 90%);
}

.overlay__inner--color-3 {
  background: linear-gradient(45deg, rgb(108, 136, 218) 81%, rgb(108, 136, 218) 85%);
}

.overlay__inner--color-4 {
  background: linear-gradient(45deg, rgb(49, 86, 196) 75%, rgb(49, 86, 196) 81%);
}

.overlay__inner--color-5 {
  background: linear-gradient(45deg, rgb(33, 58, 130) 63%, rgb(33, 58, 130) 75%);
}

.overlay__inner--color-6 {
  background: linear-gradient(45deg, rgb(17, 29, 65) 0%, rgb(17, 29, 65) 63%);
}

.about {
	height: 100vh;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	position: relative;
  	background:linear-gradient(45deg, 
	    rgb(17, 29, 65) 0%, rgb(17, 29, 65) 63%,
	    rgb(33, 58, 130) 63%, rgb(33, 58, 130) 75%,
	    rgb(49, 86, 196) 75%, rgb(49, 86, 196) 81%,
	    rgb(108, 136, 218) 81%, rgb(108, 136, 218) 85%,
	    rgb(173, 189, 235) 85%, rgb(173, 189, 235) 90%,
	    rgb(239, 242, 251) 90%, rgb(239, 242, 251) 100%);
}

.bio-background {
	width: 50%;
	height: auto;
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 98;
}

.bio-background img {
	width: 100%;
}

.bio {
	z-index: 98;
}

.bio h2 {
	color: #FFFFF3;
  	text-transform: uppercase;
  	letter-spacing: 1rem;
  	font-style: italic;
	text-align: center;
}

.column {
	padding: 1rem;
  	background-color: #FFFFF3;
  	margin: 1rem;
  	border-radius: 5px;
  	box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

@media all and (min-width: 1200px) {
	.column {
		width: 70%;
    margin: 1rem auto;
	}
}

.skills {
  height: 100vh;
  	padding: 1rem 0;
  	display: flex;
    flex-direction: column;
    justify-content: center;
  	background:linear-gradient(135deg, 
	    rgb(17, 29, 65) 0%, rgb(17, 29, 65) 10%,
	    rgb(33, 58, 130) 10%, rgb(33, 58, 130) 15%,
	    rgb(49, 86, 196) 15%, rgb(49, 86, 196) 19%,
	    rgb(108, 136, 218) 19%, rgb(108, 136, 218) 25%,
	    rgb(173, 189, 235) 25%, rgb(173, 189, 235) 37%,
	    rgb(239, 242, 251) 37%, rgb(239, 242, 251) 100%);
}

.skills h2 {
  	color: #FFF;
  	text-transform: uppercase;
  	letter-spacing: 1rem;
  	font-style: italic;
  	text-align: center;
    margin: 0;
}

.skill--list {
  	background-color: #FFFFF3;
  	padding: 1rem;
  	margin: 2rem;
  	display: grid;
  	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr ;
  	border-radius: 5px;
  	box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
  	text-align: center;
}

.skill-icon {
	font-size: 6vw;
}

@media all and (min-width: 738px)  {
	.skill--list {
		grid-template: 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr ;
  	}
}

@media all and (min-width: 1200px)  {
  	.skill--list {
    	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  	}
}


.skill-title {
  	font-size: initial;
}

.projects {
  overflow: hidden;
  	position: relative;
  	padding: 3rem 0;
  	background:linear-gradient(135deg, 
	    rgb(17, 29, 65) 0%, rgb(17, 29, 65) 63%,
	    rgb(33, 58, 130) 63%, rgb(33, 58, 130) 75%,
	    rgb(49, 86, 196) 75%, rgb(49, 86, 196) 81%,
	    rgb(108, 136, 218) 81%, rgb(108, 136, 218) 85%,
	    rgb(173, 189, 235) 85%, rgb(173, 189, 235) 90%,
	    rgb(239, 242, 251) 90%, rgb(239, 242, 251) 100%);
}

.projects h2 {
  	color: #FFFFF3;
  	text-transform: uppercase;
  	letter-spacing: 1rem;
  	font-style: italic;
  	text-align: center;
    margin: 0;
}

.project {
  	background-color: #FFFFF3;
  	padding: 1rem;
  	margin: 2rem;
  	display: flex;
  	flex-direction: row;
  	border-radius: 5px;
  	box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}

.project-column {
  	width: 50%;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.project-column h3 {
	margin: 1rem 0;
}

.project-column p {
	margin: 0 0 1rem;
}

.button-container {
  	width: auto;
  	display: flex;
  	align-items: center;
}

#button-container1, #button-container3 {
  	justify-content: flex-start;
}

#button-container2 {
  	justify-content: flex-end;
}

#project2 {
	text-align: right;
}

.column-image {
  	width: 50%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.project-image {
  	object-fit: contain;
  	width: 100%;
}

@media all and (max-width: 575px) {
	.project {
    	flex-direction: column;
  	}

  	.project-column {
	    text-align: center;
	    width: 100%;
  	}

	.column-image {
	    width: 100%;
	}

	#button-container1, #button-container2, #button-container3 {
	  	justify-content: center;
	}
}

@media all and (min-width: 1200px) {
	.project {
    	margin: 2rem auto;
    	width: 70%;
  	}
}

.project_button {
  	background-color: #262E45;
  	border: 1px solid #262E45;
    color: #FFF;
  	border-radius: 4px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	padding: 0.5rem 1rem;
  	transition-duration: 0.3s;
}

.project_button:hover {
  	background-color: #244091;
  	border: 1px solid #244091;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.project_button a {
  color: #FFF;
}

.contact {
  	padding: 2rem;
  /*background:linear-gradient(225deg, */
	    rgb(17, 29, 65) 0%, rgb(17, 29, 65) 63%,
	    rgb(33, 58, 130) 63%, rgb(33, 58, 130) 75%,
	    rgb(49, 86, 196) 75%, rgb(49, 86, 196) 81%,
	    rgb(108, 136, 218) 81%, rgb(108, 136, 218) 85%,
	    rgb(173, 189, 235) 85%, rgb(173, 189, 235) 90%,
	    rgb(239, 242, 251) 90%, rgb(239, 242, 251) 100%);
}

.contact h2, .contact i, .contact p, .contact a {
  	text-align: center;
  	color: #FFF;
    margin-bottom: 1rem;
}

address {
  	display: flex;
  	justify-content: center;
}

input[type=text], input[type=email], select, textarea {
  	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	margin-top: 6px;
  	margin-bottom: 16px;
  	resize: vertical;
}

form {
  	display: flex;
  	flex-direction: column;
}

@media all and (min-width: 738px) {
	.formContainer, .contact_button {
    	width: 50%;
    	margin: 0 auto;
  	}
}

.svg {
  	fill: #000;
  	background-color: #fff;
}

footer {
	text-align: center;
  border-top: 1px solid #EFF2FB;
}